body {
	text-align: center;
	font-family: verdana, sans-serif;
}

/*application title*/
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 20px;
	text-align: center;
}


/* data source label */
.checkBoxStyle {
	margin: 30px 10px 5px 10px;
	font-size: 12px;
}


/* data source label */
.sourceLabel {
	margin: 30px 10px 5px 10px;
	font-size: 12px;
}

/* filter label */
.filterLabel {
	font-weight: bold;
	margin: 5px 5px 5px 5px;
	font-size: 14px;
}

.panelLabel {
	background-color: #FFFFFF;
	color: #969696;
	text-align: left;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	font-variant: small-caps;
}

/* filter label */
.warningLabel {
	font-weight: bold;
	text-align: center;
	color: red;
	margin: 20px;
	font-size: 2em;
}

/* filter label */
.titleLabel {
	font-weight: bold;
	margin: 50px;
	text-align: center;
	color: black;
	font-size: 1.5em;
}

/* padding of the elements inside the horizontal panel*/
.paddedHorizontalPanel {
	padding-left: 5px;
}

/* .paddedHorizontalPanel.gwt-Button { */
/*     margin-left: 100px; */
/* } */
/* .paddedHorizontalPanel .gwt-CheckBox { */
/* 	margin-left: 10px; */
/* } */