<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
         
  <!-- Declaring the ContextListener for the application -->
  <listener>
    <listener-class>ch.uzh.ifi.climateapp.server.MyContextListener</listener-class>
  </listener>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ClimateApp.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>dataFetcherServiceImpl</servlet-name>
    <servlet-class>ch.uzh.ifi.climateapp.server.DataFetcherServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>dataFetcherServiceImpl</servlet-name>
    <url-pattern>/climateapp/climateData</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>averageYearServiceImpl</servlet-name>
    <servlet-class>ch.uzh.ifi.climateapp.server.AverageYearServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>averageYearServiceImpl</servlet-name>
    <url-pattern>/climateapp/averageYear</url-pattern>
  </servlet-mapping>

</web-app>
